{% extends "base/base.html" %}
{% block content %}
<div class="content-section">
  <div class="media">
    <div class="media-body">
      <legend class="border-bottom mb-4">¿Qué debes saber antes de jugar?</legend>
        <ol>
          <li>Si es la primera vez que entras en la plataforma, deberás esperar a que el/la profesor/a te explique el funcionamiento</li><br>
          <li>Una vez sepas el correcto funcionamiento, podrás acceder a las distintas opciones de la barra menú (Inicio, Perfil, Juegos, Puntuaciones, Logros o Salir)</li>
        </ol>
    </div>
  </div>
</div>
{% endblock %}
