<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	  <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">

    {% if title %}
        <title>MusicGames - {{ title }}</title>
    {% else %}
        <title>MusicGames</title>
    {% endif %}
  </head>
  <body>
    <header class="site-header">
			<nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
				<div class="container">
					<a class="navbar-brand mr-4" href="{{ url_for('main.inicio') }}">MusicGames - {{ title }}</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarToggle">
						<div class="navbar-nav mr-auto">
						</div>
						<!-- Navbar Right Side -->
						<div class="navbar-nav">
		       </div>
		     </div>
		    </div>
	    </nav>
    </header>
    <br><br>
    <div class="contenedor">
  		<div class="contenedor_tarjeta">
  			<a href="{{ url_for('main.games') }}">
  				<figure id="tarjeta">
  					<img src="{{ url_for('static', filename='img/juegos.jpg') }}" class="frontal" alt="">
  					<figcaption class="trasera">
  						<h2 class="titulo"><b>Usuarios No Registrados</b></h2>
  						<hr>
  						<p>Desde aquí puedes entrar directamente y ver todos los juegos disponibles de nuestra plataforma. <b>Recuerda</b>, solo podrás jugar un nivel de cada juego.</p>
  					</figcaption>
  				</figure>
  			</a>
  		</div>

  		<div class="contenedor_tarjeta">
  			<a href="{{ url_for('alumns.login_a') }}">
  				<figure id="tarjeta">
  					<img src="{{ url_for('static', filename='img/alumnado.jpg') }}" class="frontal" alt="">
  					<figcaption class="trasera">
  						<h2 class="titulo"><b>Alumnado</b></h2>
  						<hr>
  						<p>Espacio dedicado para todo los alumnos de la Academia. Donde podrás acceder con tu cuenta, además de jugar, podrás ver todos tus resultados y logros conseguidos.</p>
  					</figcaption>
  				</figure>
  			</a>
  		</div>

  		<div class="contenedor_tarjeta">
  			<a href="{{ url_for('main.teacher_pass') }}">
  				<figure id="tarjeta">
  					<img src="{{ url_for('static', filename='img/profesorado.jpg') }}" class="frontal" alt="">
  					<figcaption class="trasera">
  						<h2 class="titulo"><b>Profesorado</b></h2>
  						<hr>
  						<p>Espacio dedicado para todo el profesorado de la Academia. Donde podrás llevar un seguimiento de los grupos que impartes, así como, de los alumnos de éstos.</p>
  					</figcaption>
  				</figure>
  			</a>
  		</div>
    </div>
  </body>
</html>
