{% extends "base/base_a.html" %}
{% block content %}
<div class="content-section">
  <div class="media">
    <div class="media-body">
      <legend class="border-bottom mb-4">¿Qué debes saber antes de jugar?</legend>
      <ol>
        <li>Si es la primera vez que entras en la plataforma, deberás esperar a que el/la profesor/a te explique el funcionamiento</li><br>
        <li>Una vez sepas el correcto funcionamiento, podrás acceder a las distintas opciones de la barra menú</li>
      </ol>
    </div>
  </div>
</div>
<div class="content-section">
  <div class="media">
    <div class="media-body">
      <legend class="border-bottom mb-4">Perfil</legend>
      <ol>
        <li>En "Detalles sobre tu cuenta", encontraras toda la información de registro a excepción de la contraseña, que por motivos de seguridad no se mostrará</li><br>
        <li>Si deseas cambiar algún dato que no esté correcto, pulsa en modificar y accederas al formulario para que modifiques los datos correctamente</li><br>
        <li>Si deseas cambiar la contraseña, pulsa en modificar y accederas al formulario para que modifiques la contraseña correctamente</li>
      </ol>
    </div>
  </div>
</div>
<div class="content-section">
  <div class="media">
    <div class="media-body">
      <legend class="border-bottom mb-4">Juegos</legend>
      <ol>
        <li>Aquí podrás ver todos los juegos disponibles</li><br>
        <li>Si deseas jugar a un juego, pulsa en "Jugar"</li><br>
          <ul>
            <li type=”square”>Si es la primera vez que juegas, entraras directamente al juego</li><br>
            <li type=”square”>Si ya has jugado, te dará opción de elegir el nivel</li>
          </ul>
      </ol>
    </div>
  </div>
</div>
<div class="content-section">
  <div class="media">
    <div class="media-body">
      <legend class="border-bottom mb-4">Puntuaciones</legend>
      <ol>
        <li>Si no has jugado a ningún juego no aparecerá ningún resultado</li><br>
        <li>Si has jugado a algún juego, las puntuaciones aparecerán por cada juego jugado</li>
      </ol>
      </div>
    </div>
</div>
<div class="content-section">
  <div class="media">
    <div class="media-body">
      <legend class="border-bottom mb-4">Logros</legend>
        <ol>
          <li>Si no has jugado a ningún juego no tendrás ningún logro activado</li><br>
          <li>Si has jugado a al menos a un juego, tendrás activado el logro "Primera Vez"</li><br>
          <li>Conforme vayas jugando más, se irán activando los distintos logros</li>
        </ol>
      </div>
    </div>
</div>
{% endblock %}
