{% extends "base/base_a.html" %}

{% block title %}Logros - Alumno/a{% endblock %}

{% block content %}
<div class="content-section">
  <div class="media">
    <div class="media-body">
      <legend class="border-bottom mb-4"><b>Mis Logros</b></legend>
        <center><img class="img-fluid" src="{{ logro }}" height="400" width="400"></center>
        <legend class="col-form-label col-sm-12 pt-0"><b>Leyenda</b> (Puntos Totales)</legend><br>
        <img src="{{ url_for('static', filename='img/logros/ley0.png') }}" width="100" height="150">
        <img src="{{ url_for('static', filename='img/logros/ley1.png') }}" width="100" height="150">
        <img src="{{ url_for('static', filename='img/logros/ley2.png') }}" width="100" height="150">
        <img src="{{ url_for('static', filename='img/logros/ley3.png') }}" width="100" height="150">
        <img src="{{ url_for('static', filename='img/logros/ley4.png') }}" width="100" height="150">
        <img src="{{ url_for('static', filename='img/logros/ley5.png') }}" width="100" height="150">
        <img src="{{ url_for('static', filename='img/logros/ley6.png') }}" width="100" height="150">
        <img src="{{ url_for('static', filename='img/logros/ley7.png') }}" width="100" height="150">
        <img src="{{ url_for('static', filename='img/logros/ley8.png') }}" width="100" height="150">
    </div>
  </div>
</div>
{% endblock %}
