<h3><b>Proyecto llevado a cabo por</b></h3>
<div class="content-section">
  <div class="media">
    <div>
      <img class="rounded-circle account-img" src="{{ url_for('static', filename='img/about/1.jpg') }}">
      <br><a href="https://www.linkedin.com/in/xab1t0/"><img src="{{ url_for('static', filename='img/about/in.png') }}" width="80" height="20"/></a>
    </div>
    <div class="media-body">
      <legend class="border-bottom mb-4"><b>Alumno</b></legend>
      <h2 class="account-heading">Javier Ramírez Quintero</h2><br>
      <p class="text-secondary"><b>Grado: </b>Ingeniería en Informática (Mención Software)</p>
      <p class="text-secondary"><b>Universidad: </b>Escuela Politécnica Superior de Córdoba (EPSC) - Universidad de Córdoba</p>
    </div>
  </div>
</div>
