<h3><b>Proyecto llevado a cabo por</b></h3>
<div class="content-section">
  <div class="media">
    <div>
      <img class="rounded-circle account-img" src="{{ url_for('static', filename='img/about/1.jpg') }}">
      <br><a href="https://www.linkedin.com/in/xab1t0/"><img src="{{ url_for('static', filename='img/about/in.png') }}" width="80" height="20"/></a>
    </div>
    <div class="media-body">
      <legend class="border-bottom mb-4"><b>Alumno</b></legend>
      <h2 class="account-heading">Javier Ramírez Quintero</h2><br>
      <p class="text-secondary"><b>Grado: </b>Ingeniería en Informática (Mención Software)</p>
      <p class="text-secondary"><b>Universidad: </b>Escuela Politécnica Superior de Córdoba (EPSC) - Universidad de Córdoba</p>
    </div>
  </div>
</div>
<h3><b>Proyecto dirigido por</b></h3>
<div class="content-section">
  <div class="media">
    <div>
      <img class="rounded-circle account-img" src="{{ url_for('static', filename='img/about/2.jpg') }}">
      <br><a href="https://www.linkedin.com/in/arauzo/"><img src="{{ url_for('static', filename='img/about/in.png') }}" width="80" height="20"/></a>
    </div>
    <div class="media-body">
      <legend class="border-bottom mb-4"><b>Director</b></legend>
      <h2 class="account-heading">Antonio Aráuzo Azofra</h2><br>
      <p class="text-secondary"><b>Área: </b>Proyectos de Ingeniería</p>
      <p class="text-secondary"><b>Despartamento: </b>Ingeniería Rural</p>
      <p class="text-secondary"><b>Universidad: </b>Escuela Politécnica Superior de Córdoba (EPSC) - Universidad de Córdoba</p>
    </div>
  </div>
  <div class="media">
    <div>
      <img class="rounded-circle account-img" src="{{ url_for('static', filename='img/about/3.jpg') }}">
      <br><a href="https://www.linkedin.com/in/maría-luque-rodríguez/"><img src="{{ url_for('static', filename='img/about/in.png') }}" width="80" height="20"/></a>
    </div>
    <div class="media-body">
      <legend class="border-bottom mb-4"><b>Directora</b></legend>
      <h2 class="account-heading">María Luque Rodríguez</h2><br>
      <p class="text-secondary"><b>Área: </b>Ciencias de la Computación e Inteligencia Artificial</p>
      <p class="text-secondary"><b>Departamento: </b>Informática y Análisis Numérico</p>
      <p class="text-secondary"><b>Universidad: </b>Escuela Politécnica Superior de Córdoba (EPSC) - Universidad de Córdoba</p>
    </div>
  </div>
</div>
