<h2><b>¿Tienes alguna duda, y necesitas más ayuda?</b></h2>
<p>Si tienes cualquier duda más sobre el funcionamiento de la web,
tienes problemas de registro/acceso, o sabes de alguna mejora.
Haznoslo saber, rellena el siguiente formulario y te responderemos
a la mayor brevedad posible.</p>
<div class="content-section">
  <form action="enviar.php" method="post" autocomplete="off">
    <div class="form-row">
      <legend class="border-bottom mb-4"><b>Contacto</b></legend>
      <div class="form-group col-md-6">
        <label for="nombre"><b>Nombre</b></label>
        <input type="text" class="form-control" name="nombre" placeholder="Escriba su nombre" id="nombre" required>
      </div>
      <div class="form-group col-md-6">
        <label for="apellidos"><b>Apellidos</b></label>
        <input type="text" class="form-control" name="apellidos" placeholder="Escriba sus apellidos" id="apellidos" required>
      </div>
      <div class="form-group col-md-12">
        <label for="email"><b>Email</b></label>
        <input type="email" class="form-control" name="email" placeholder="Escriba su e-mail" id="email" required>
      </div>
      <div class="form-group col-md-12">
        <label for="mensaje"><b>Mensaje</b></label>
        <textarea class="form-control" name="mensaje" placeholder="Escriba el mensaje" id="mensaje" rows="3" required></textarea>
      </div>
      <input type="submit" class="btn btn-outline-success" value="Enviar">
    </div>
  </form>
</div>
