{% extends "base/base_a.html" %}
{% block content %}
  <div class="content-section">
    <form method="POST" action="{{ url_for('grupos.choise_grupo') }}" autocomplete="off">
      <div class="form-row">
        <legend class="border-bottom mb-4"><b>Elección de Grupo</b></legend>
        <div class="form-group col-md-3">
          <label for="id_alumn"><b>Alumno (ID)</b></label>
          <input type="text" class="form-control-plaintext" name="id_alumn" id="id_alumn" value="{{ alumn }}" required readonly>
        </div>
        <div class="form-group col-md-3">
          <label for="name_grupo"><b>Grupo (Nombre)</b></label>
          <input type="text" class="form-control" name="name_grupo" id="name_grupo" required>
        </div>
			</div>
      <button type="submit" class="btn btn-outline-success">Confirmar</button>
      <a class="btn btn-outline-secondary btn mt-1 mb-1" href="javascript:history.back(-1);" title="Ir la página anterior">Volver</a>
		</form>
	</div>
{% endblock %}
