{% extends "base/base_t.html" %}
{% block content %}
  <div class="content-section">
    <form method="POST" action="{{ url_for('grupos.confirm_group') }}" autocomplete="off">
      <div class="form-row">
        <legend class="border-bottom mb-4"><b>Confirmar grupo</b></legend>
        <div class="form-group col-md-3">
          <label for="id_teacher"><b>Profesor (ID)</b></label>
          <input type="text" class="form-control-plaintext" name="id_teacher" id="id_teacher" value="{{ teacher['teacher_id'] }}" required readonly>
        </div>
        <div class="form-group col-md-3">
          <label for="name"><b>Grupo (Nombre)</b></label>
          <input type="text" class="form-control" name="name" id="name" required>
        </div>
			</div>
      <button type="submit" class="btn btn-outline-success">Confirmar</button>
      <small>¡Recuerda!, sino confirmas tu grupo, no podrás volver atrás.</a></small>
      </form>
	</div>
{% endblock %}
