{% extends "base/base_t.html" %}
{% block content %}
  <div class="content-section">
		<form method="post" action="{{ url_for('grupos.update_group', name=grupo['name'])}}" autocomplete="off">
      <div class="form-row">
        <legend class="border-bottom mb-4">Modificar Aula</legend>
        <div class="form-group col-md-6">
          <label for="username">Aula</label>
          <input type="text" class="form-control" name="classroom" id="classroom" value="{{ grupo['classroom'] }}"  required>
        </div>
			</div>
      <button type="submit" class="btn btn-outline-success">Actualizar</button>
      <a class="btn btn-outline-secondary btn mt-1 mb-1" href="javascript:history.back();" title="Ir la página anterior">Volver</a>
		</form>
	</div>
{% endblock %}
