{% extends "base/base_t.html" %}
{% block content %}
<legend class="border-bottom mb-4"><b>{{ grupo['name'] }}</b></legend>
<p class="text-secondary"><b>Aula: </b>{{ grupo['classroom'] }}<br>
  <a class="btn btn-outline-success btn-sm mt-1 mb-1" href="{{ url_for('grupos.edit_group', name=grupo['name']) }}">Actualizar</a>
  <a class="btn btn-outline-danger btn-sm mt-1 mb-1" href="#">Eliminar</a>
  <a class="btn btn-outline-secondary btn-sm mt-1 mb-1" href="javascript:history.back(-1);" title="Ir la página anterior">Volver</a>
</p>
<legend class="border-bottom mb-4">Alumnado</legend>
{% for manage in manages %}
  {% if manage['name'] == grupo['name'] %}
    <div class="content-section">
      <div class="media">
        <div class="media-body">
          <h4 class="text-secondary">{{ manage['fullname'] }}</h4>
          <p class="text-secondary"><b>Usuario: </b>{{ manage['username'] }}</p>
        </div>
      </div>
    </div>
  {% endif %}
{% endfor %}
{% endblock %}
