{% extends "base/base_t.html" %}
{% block content %}
{% for manage in manages %}
  {% if manage['teacher_id'] == teacher %}
  <div class="content-section">
    <div class="media">
      <div class="media-body">
        <legend class="border-bottom mb-4">
          <a href="{{ url_for('grupos.show_grupo', name=manage['name']) }}">{{ manage['name'] }}</a>
        </legend>
        <p class="text-secondary"><b>ID: </b>{{ manage['grupo_id'] }}</p>
        <p class="text-secondary"><b>Aula: </b>{{ manage['classroom'] }}</p>
      </div>
    </div>
  </div>
  {% endif %}
{% endfor %}
<a class="btn btn-outline-secondary btn-sm mt-1 mb-1" href="javascript:history.back(-1);" title="Ir la página anterior">Volver</a>
{% endblock %}
