{% extends "base/base_t.html" %}
{% block content %}
  <div class="content-section">
    <form method="POST" action="{{ url_for('grupos.select_grupo') }}" autocomplete="off">
      <div class="form-row">
        <legend class="border-bottom mb-4"><b>Asociar grupo creado</b></legend>
        <div class="form-group col-md-3">
          <label for="id_teacher"><b>Profesor (ID)</b></label>
          <input type="text" class="form-control" name="id_teacher" id="id_teacher" value="{{ teacher }}" required>
        </div>
        <div class="form-group col-md-3">
          <label for="id_grupo"><b>Grupo (ID)</b></label>
          <input type="text" class="form-control" name="id_grupo" id="id_grupo" required>
        </div>
			</div>
      <button type="submit" class="btn btn-outline-success">Asociar</button>
      <a class="btn btn-outline-secondary btn mt-1 mb-1" href="javascript:history.back(-1);" title="Ir la página anterior">Volver</a>
		</form>
	</div>
{% endblock %}
